.cryptoContainer {
  width: 300px;
  height: 70px;
  background-color: ghostwhite;
  box-shadow: 0 0 5px 0 lightgray;
  display: flex;
  margin: 50px;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
}

.name,
.price {
  margin: 5px;
}

.cryptoImage {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
  .cryptoContainer {
    margin: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .cryptoContainer {
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 13px;
  }

  .cryptoImage {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
